<div class="p-4">
  <input type="text" [(ngModel)]="serverInput" />
  <button [disabled]="!canAddServer || !serverInput" (click)="addServer()">
    Add Server
  </button>
  <p class="p-2" [ngClass]="{ 'bg-success': isServerAdded }">
    {{ isServerAdded ? "Server Added!" : "LOL that's it" }}
  </p>
  <!-- ng17+ feature -->
  @if (!!isServerAdded && getLastServerName()) {
    <p class="p-2">yay, newServerName: {{ getLastServerName() }}</p>
  } @else {
    <p class="p-2"><code>-_-</code></p>
  }
  @for (server of servers; track server) {
    <app-server [serverName]="server.name" [serverId]="server.id"></app-server>
  }
</div>
